<!DOCTYPE html>
<html>
<head>
    <title>Computed Properties - Daengweb</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
​
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="dw" class="container">
        <h1>Perhitungan Sederhana</h1>
        <div class="form-group">
            <label>Nilai A</label>
            <input type="number" v-model="a" class="form-control">
        </div>
        <div class="form-group">
            <label>Operator</label>
            <select class="form-control" v-model="o">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
        </div>
        <div class="form-group">
            <label>Nilai B</label>
            <input type="number" v-model="b" class="form-control">
        </div>
        <h2>Hasil:</h2>
        <p>Nilai A = {{ a }}</p>
        <p>Nilai B = {{ b }}</p>
        <p>Maka A {{ o }} B = {{ hasil }}</p>
    </div>
​
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#dw',
            data: {
                a: '1',
                b: '1',
                o: ''
            },
            computed: {
                hasil: function() {
                    switch (this.o) {
                        case "+":
                        return parseFloat(this.a) + parseFloat(this.b)
                        break;
                        case "-":
                        return parseFloat(this.a) - parseFloat(this.b)
                        break;
                        case "*":
                        return parseFloat(this.a) * parseFloat(this.b)
                        break;
                        case "/":
                        return parseFloat(this.a) / parseFloat(this.b)
                        break;
                    }
                }
            }
        }); 
    </script>
</body>
</html>